{% extends 'index.html' %}
{%block index%}

      <h2 class="bg-hovered text-dark">Department Registration</h2><br><br>
      <form action="" method="post">
        {%csrf_token%}
        {% if messages %}
          {% for msg in messages %}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{msg}}</strong>
              </div>
            {%else%}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>{{msg}}</strong>
            </div>
            {%endif%}
          {% endfor %}
        {% endif %}
        <table class="table table-hovered">
          {{form.as_table}}
      </table>
        <br><br>
        <p><button class="btn btn-success">Register</button></p>
      </form>   
      {%endblock index%}
